.post{
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.post .post__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.post .post__header .post__headerLeft{
    display: flex;
    align-items: center;
   

}
.post .post__header .post_profile_details h3{
   font-size: 16px;
   margin:0px;
   margin-left:10px;

}
.post .post__header .post_profile_details p {
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;

}
.post__body p{
    font-size:14px ;
    padding-top: 10px;
}
.post__footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(rgb(245, 235, 235), rgb(205, 214, 205), rgb(212, 212, 240));
    padding-top: 10px;
    margin-top: 20px;
    padding: 10px 10px;
}
.post__footer .post__footer__option{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.post__footer .post__footer__option svg {
    margin-right: 10px;
    color: #333;
}
.post__footer .post__footer__option span {
    margin-right: 10px;
    color: #373535;
    font-size: 14px;
}
.post__footer .post__footer__option:hover {
    background-color: #c0b3b3;
}