.widget{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}
.widge__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.widge__header h4{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.widge__header svg {
    font-size: 18px;
}
ul.widget__option{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    list-style: circle;
}
ul.widget__option li {
   margin-bottom: 10px;
}
.widget__body{
    margin-top: 10px;
}
ul.widget__option h4 {
    margin: 0px;
    font-weight: normal;
    font-size: 12px;
    font-weight: bold;
}
ul.widget__option p {
    margin: 0px;
    color: rgb(128, 120, 120);
    font-size: 12px;
}
.widge_top{
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}



